.search {
  background-color: rgba(177, 177, 177, 0.151);
  border: 2px solid rgba(177, 177, 177, 0.151);
  outline: none;
  padding: 10px;
  padding-left: 15px;
  border-radius: 5px;
  color: white;
}

.search::placeholder {
  color: white;
  opacity: 0.5;
}

.search:focus {
  border-color: rgba(255, 255, 255, 0.151);
}
